* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  font-size: 1rem;
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  background-color: black;
  /* border: 2px solid rebeccapurple; */
  width: 100%;
}
/* navbar */

header nav {
  padding: 12px 28px;
  display: flex;
  max-height: 60px;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  /* margin-right: 15px; */
  /* border-bottom: 2px solid red; */
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 0;
}

header nav .search {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  font-size: 1.5rem;
  display: flex;
  padding: 1px;
  gap: 10px;
  padding: 1px;
  width: 33%;
  margin: 0px;
  align-items: center;
  justify-content: center;
}

header nav .search input {
  width: 90%;
  margin: 2px;
  margin-left: 10px;
  font-size: 1.3rem;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

header nav .search i {
  font-size: 18px;
  margin-right: 10px;
}
header{
    position: fixed;
    width: 100%;
    height: 5%;
    top: 0;
}
.navbar a {
  align-items: center;
  font-size: 21px;
}
.navbar a i,
.navbar a span {
  color: rgb(255, 255, 255);

  padding-right: 6px;
}
nav .btn {
  border: 2px solid red;
  padding: 2px;
  border-radius: 6px;
  background-color: red;
  cursor: pointer;
}

/* container main data */
.containers {
  background-color: #000000;
  padding: 10px;
  margin-top: 5%;
}
/* container */
.container {
  background-color: black;
  padding: 10px;
}
.container .profiles {
  display: flex;
  flex-direction: rows;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  /* padding: 0px;
    margin: 0px; */
}
.container .profiles .profile {
  cursor: pointer;
}
.container .profiles .profile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px double white;
}
.container .profiles .profile img:hover {
  transform: scale(1.1);
}

.container.ads {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  height: 200px;
  background-color: aqua;
  background-image: url('https://image.pollinations.ai/prompt/ads of a billing borard for a company name zarurat?width=1280&height=200');
  padding: 0;
  cursor: pointer;
}
.container.ads .left ,.container.ads .right{
  position: relative;
  top: 25%;
  width: 40px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: opacity .3s ease ;

}
.container.ads .left:hover ,.container.ads .right:hover{
    background-color: rgba(0, 0, 0, 100);
    color: white;
    opacity: 1;
}
.container.ads .left {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.container.ads .right {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.container.ads .left i,.container.ads .right i{
    color: rgb(255, 255, 255);
}
.container.chl{
    margin-top: 20px;
    padding: 1rem;
}
/* .container.electrician .boxes {
    margin-top: 2rem;
} */
.boxes{
    /* margin-top: 2rem; */
    display: flex;
    padding: 1.5rem;
    justify-content: space-around;
    
}


.boxes .box{
    width: 200px;
    height: 252px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.176);
    border: 3px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 1rem;

    /* border-radius: 10px; */
}


.boxes .box img{
    padding: 2px;
    width: 180px;
    height: 200px;
    border-radius: 8px;
    
}

footer{
    background-color: black;
    padding: 10px;
    padding-left: 4em;
    /* text-align: center; */
}